<div class="row mx-0">
    <div class="col-lg-7 d-flex justify-content-center">
        <img src="assets/img/minecraft-zoo-preview.png" alt="minecraft-zoo-preview" class="mt-5 mt-lg-0 mb-lg-7 minecraft-photo">
    </div>
    <div class="col-12 col-lg-5 container px-5 px-lg-0 pr-lg-5">
        <h2 class="mt-8 event-title">Minecraft Zoo Event<br>ft. Toronto Zoo</h2>
        <p class="h4 my-4">April 11 - April 17</p>
        <p class="lead mb-3 font-weight-normal">
            Money raised: $840<br>
            Registered participants: 120<br>
            Workshops: 4
        </p>

        <div class="pr-lg-5 mr-lg-5">
            <p class="mr-lg-5 pr-lg-5">
                The Minecraft Zoo Event marks the kickoff of PassionFruit Youth. We hosted a variety informative and fun workshops
                in collaboration with guest speakers from the Toronto Zoo Wildlife Conservancy. This event was centered around a
                Minecraft build competition where participants put together beautiful Minecraft builds of animals alongside a habitat 
                for the animals. 
            </p>
        </div>

        <div class="mt-10">
            <a href="/events/minecraft-zoo#photos" class="button-jasmine px-5 py-3">
                View builds
            </a>
        </div>
    </div>
    
</div>
<div class="d-flex justify-content-center my-15" id="photos">
    <div class="container-fluid mx-20">
        <div class="row">
            <div *ngFor="let imgPath of imgPaths" class="col-lg-6">
                <div class="d-flex justify-content-center my-3">
                    <img src="{{ imgPath }}" alt="minecraft build" class="build-img img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>



