<div class="container-fluid">
    <div class="row">
        <div class="col-xl-7 mt-5">
            <div class="container d-flex justify-content-center">
                <img src="assets/img/events-home.png" alt="events-home" class="event-home-img">
            </div>
            
        </div>
        <div class="col-xl-3 py-12 mt-3">
            <div class="container">
                <h2 class="events-home-title">
                    <span class="title-highlight">Educational</span>,<br>
                    <span class="title-highlight">Exciting</span>, and<br>
                    <span class="title-highlight">Fun</span> Events
                </h2>
            </div>
            <div class="container mt-8">
                <a href="/events#minecraft-zoo-event" class="button-jasmine px-5 py-3">View events</a>
            </div>
        </div>
    </div>
    
    <div class="row mb-5" id="minecraft-zoo-event">
        <div class="col-lg-4 container px-5">
            <div class="py-3"></div>
            <h2 class="event-title ml-13 mb-4 mt-20">
                Minecraft Zoo Event ft. Toronto Zoo
            </h2>
            <p class="h4 ml-13 mb-8">
                April 11 - April 19, 2021
            </p>
            
            <a routerLink="minecraft-zoo" class="button-light-salmon px-5 py-3 ml-13">View more</a>
        </div>
    
        <div class="col-lg-8 d-flex justify-content-center background-ligh-salmon">
            <img src="assets/img/minecraft-zoo.png" alt="minecraft-zoo" class="my-9 event-img">
        </div>
    </div>
    
    
</div>