
<div class="container-fluid mt-3 mt-lg-6 mb-10">
    <div class="row">
        <div class="container col-2 col-lg-1">
            <img src="assets/img/quotation.png" class="quotation ml-8 ml-lg-5 mt-3 mt-lg-0">
          
        </div>

        <div class="container col-9 col-lg-4">
          <div class="container-fluid mt-6 mt-lg-5">
              <h2 class="quote1">
                Be Persistent,<br>
                Be Prolific,<br>
                Be <span class="title-highlight">Passionate.</span>
              </h2>
          </div>
          <div class="container-fluid mt-5 mt-lg-10">
            <a href="#description-page" class="button-light-salmon px-5 py-3">Learn more</a>
          </div>
        </div>

        <div class="container col-12 col-lg-6">
          <div class="container-fluid mt-12 mt-lg-3 d-flex justify-content-center">
              <img src="assets/img/potter-child.png"  class="potter-child">
          </div>
        </div>
    </div>
</div>
  
<div class="container-fluid mb-10" id="description-page">
    <div class="row">
      <div class="container col-3 col-lg-3 p-0">
        <div class="container-fluid d-flex justify-content-end mt-10 mt-lg-7">
          <h3 class="quote2">
            Find your<br>
            <span class="font-italic">passion</span>
        </h3>
        </div>
        <div class="container-fluid d-flex justify-content-end my-2">
          <img src="assets/img/artist.png"  class="img-fluid artist-img">
        </div>
      </div>
  
      <div class="container col-9 col-lg-4 p-0">
        <div class="container-fluid d-flex justify-content-center mt-15 mt-lg-15">
          <p class="lead community-description">
            At PassionFruit Youth, we aim to foster a
            community that not only supports one-another’s
            ambitions, but also collectively builds on each
            other’s successes, breaking boundaries and
            reaching new heights.
  
            Through various high-impact community events,
            volunteer/career insight oppurtunities, self-growth
            workshops, and more, PFY has its sights on being
            the premier hub for cultivating and prospering
            dreams for youth.
          </p>
        </div>
        <div class="container-fluid mt-5 mt-lg-8">
          <a routerLink="opportunities" class="button-light-salmon mr-4">Opportunities</a>
          <a routerLink="events" class="button-jasmine">Events</a>
        </div>
      </div>
  
      <div class="container col-lg-4 mt-10 mt-xl-0">
        <img src="assets/img/photographer.png" class="img-fluid">
      </div>
    </div>
</div>

<img src="assets/img/classroom-transition.png" class="img-fluid">

<div class="container-fluid background-light-salmon py-10">
    <div class="row">
      <div class="container d-flex col-lg-6 justify-content-center">
        <img src="assets/img/hiker.png" class="hiker-img">
      </div>
      <div class="container col-lg-6 px-5 px-lg-0">
        <div class="">
          <div class="mt-12">
            <h4 class="subtitle-pill px-4 py-2 px-lg-5 py-lg-2">Chase your dreams</h4>
          </div>
          <div class="mt-5">
            <h2 class="title-motivation">
              Make your <br>
              dreams a reality
            </h2>
          </div>
          <div class="mt-5 pr-lg-10">
              <p class="lead text-motivation">
                The infinity between zero and one is the
                same infinity between one and infinity. It's
                the same distance--so what makes the
                second one so intimidating? If you can get
                up from your couch to grab the remote, you
                can get up from your couch to change the
                world. <span class="text-motivation-highlight">That’s what we’re here for.</span>
              </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>