<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar py-4" id="navbar">
  <div class="container">   
    <div class="navbar-brand navbar-logo">
      <img src="../../assets/img/navbar-logo.png" alt="PassionFruit Youth" class="logo-strip"> 
      <!-- <span class="text-orange">Passion</span>Fruit Youth -->
    </div>

    <span class="p-2">
      <a *ngFor="let section of sections" routerLink="{{ section.href }}" routerLinkActive="" class="navbar-link mx-2 lead">
        {{ section.name }}
      </a>
    </span>
    <a href="javascript:void(0);" class="icon link-black" style="font-size: 30px" (click)="changeNav()">
      <i class="fa fa-bars"></i>
    </a>

  </div>
</div>