
<div class="container-fluid mt-2 pt-4 ml-0 mr-0">
    <div class="container-fluid pt-5 pb-4">
        <h1 class="text-center about-us-title">
            About Us
        </h1>
    </div>
    
    <div class="row mt-6 mb-8">

        <div class="col-12 col-lg-6 img-flex">
            <img src="../../assets/img/group-photo.PNG" alt="group-photo" class="group-photo">
        </div>
        
        <div class="col-12 col-lg-6 px-6 px-lg-0 mx-lg-0">

            <p class="lead pt-5 mb-6 pr-lg-5 mr-lg-5">
                PassionFruit Youth is a completely student-driven, non-proﬁt organization that is dedicated to connecting the youth
                of today with opportunities to pursue their "passions". Hailing from all over the Greater Toronto Area, these
                student-leaders work hard to innovate & create new opportunities for youth everywhere.
            </p>
                
            <a href="/meet-the-team" class="button-jasmine px-5 py-3">
                Meet the team
            </a>

    </div>
</div>

