/* You can add global styles to this file, and also import other style files */
:root {
  --white: #ffffff;
  --black: #000000;
  --sunray: #e6ac52;
  --jasmine: #fbd987;
  --new-york-pink: #ea9289;
  --light-salmon: #ffad8c;
  --mandarin: #e57d49;
  --seashell: #fff6ef;
  --lavender: #eff3ff;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.noscroll::-webkit-scrollbar {
  display: none;
}

.inline {
  display: inline;
}

.background-seashell {
  background-color: var(--seashell);
}

.background-lavender {
  background-color: var(--lavender);
}

.background-light-salmon {
  background-color: var(--light-salmon);
}

.text-light-salmon {
  color: var(--light-salmon);
}

.text-black {
  color: var(--black);
}

.button-light-salmon {
  border: none;
  color: var(--white);
  background-color: var(--light-salmon);
  border-radius: 1vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-size: 3vw;
  box-shadow: inset 0 0 0 0.01px var(--jasmine);
  transition: ease-out 0.3s;
  outline: none;
}

:hover.button-light-salmon {
  color: var(--white);
  box-shadow: inset 300px 0 0 0 var(--jasmine);
  text-decoration: none;
  cursor: pointer;
}

.button-jasmine {
  border: none;
  color: var(--white);
  background-color: var(--jasmine);
  border-radius: 1vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-size: 3vw;
  box-shadow: inset 0 0 0 0.1px var(--light-salmon);
  transition: ease-out 0.3s;
  outline: none;
}

:hover.button-jasmine {
  box-shadow: inset 300px 0 0 0 var(--light-salmon);
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .button-light-salmon,
  .button-jasmine {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 20px;
    border-radius: 7px;
  }
}

.event-title {
  font-size: 54px;
}

.py-6 {
  padding-top: 6vw;
  padding-bottom: 6vw;
}
.py-7 {
  padding-top: 7vw;
  padding-bottom: 7vw;
}
.py-8 {
  padding-top: 8vw;
  padding-bottom: 8vw;
}
.py-9 {
  padding-top: 9vw;
  padding-bottom: 9vw;
}
.py-10 {
  padding-top: 10vw;
  padding-bottom: 10vw;
}
.py-11 {
  padding-top: 11vw;
  padding-bottom: 11vw;
}
.py-12 {
  padding-top: 12vw;
  padding-bottom: 12vw;
}
.py-13 {
  padding-top: 13vw;
  padding-bottom: 13vw;
}
.py-14 {
  padding-top: 14vw;
  padding-bottom: 14vw;
}

.py-15 {
  padding-top: 15vw;
  padding-bottom: 15vw;
}

.py-16 {
  padding-top: 16vw;
  padding-bottom: 16vw;
}

.py-17 {
  padding-top: 17vw;
  padding-bottom: 17vw;
}

.py-18 {
  padding-top: 18vw;
  padding-bottom: 18vw;
}

.py-19 {
  padding-top: 19vw;
  padding-bottom: 19vw;
}

.py-20 {
  padding-top: 20vw;
  padding-bottom: 20vw;
}

.my-6 {
  margin-top: 6vw;
  margin-bottom: 6vw;
}
.my-7 {
  margin-top: 7vw;
  margin-bottom: 7vw;
}
.my-8 {
  margin-top: 8vw;
  margin-bottom: 8vw;
}
.my-9 {
  margin-top: 9vw;
  margin-bottom: 9vw;
}
.my-10 {
  margin-top: 10vw;
  margin-bottom: 10vw;
}
.my-11 {
  margin-top: 11vw;
  margin-bottom: 11vw;
}
.my-12 {
  margin-top: 12vw;
  margin-bottom: 12vw;
}
.my-13 {
  margin-top: 13vw;
  margin-bottom: 13vw;
}
.my-14 {
  margin-top: 14vw;
  margin-bottom: 14vw;
}

.my-15 {
  margin-top: 15vw;
  margin-bottom: 15vw;
}

.my-16 {
  margin-top: 16vw;
  margin-bottom: 16vw;
}

.my-17 {
  margin-top: 17vw;
  margin-bottom: 17vw;
}

.my-18 {
  margin-top: 18vw;
  margin-bottom: 18vw;
}

.my-19 {
  margin-top: 19vw;
  margin-bottom: 19vw;
}

.my-20 {
  margin-top: 20vw;
  margin-bottom: 20vw;
}

.mx-6 {
  margin-left: 6vw;
  margin-right: 6vw;
}
.mx-7 {
  margin-left: 7vw;
  margin-right: 7vw;
}
.mx-8 {
  margin-left: 8vw;
  margin-right: 8vw;
}
.mx-9 {
  margin-left: 9vw;
  margin-right: 9vw;
}
.mx-10 {
  margin-left: 10vw;
  margin-right: 10vw;
}
.mx-11 {
  margin-left: 11vw;
  margin-right: 11vw;
}
.mx-12 {
  margin-left: 12vw;
  margin-right: 12vw;
}
.mx-13 {
  margin-left: 13vw;
  margin-right: 13vw;
}
.mx-14 {
  margin-left: 14vw;
  margin-right: 14vw;
}

.mx-15 {
  margin-left: 15vw;
  margin-right: 15vw;
}

.mx-16 {
  margin-left: 16vw;
  margin-right: 16vw;
}

.mx-17 {
  margin-left: 17vw;
  margin-right: 17vw;
}

.mx-18 {
  margin-left: 18vw;
  margin-right: 18vw;
}

.mx-19 {
  margin-left: 19vw;
  margin-right: 19vw;
}

.mx-20 {
  margin-left: 20vw;
  margin-right: 20vw;
}

.mt-6 {
  margin-top: 6vw;
}
.mt-7 {
  margin-top: 7vw;
}
.mt-8 {
  margin-top: 8vw;
}
.mt-9 {
  margin-top: 9vw;
}
.mt-10 {
  margin-top: 10vw;
}
.mt-11 {
  margin-top: 11vw;
}
.mt-12 {
  margin-top: 12vw;
}
.mt-13 {
  margin-top: 13vw;
}
.mt-14 {
  margin-top: 14vw;
}

.mt-15 {
  margin-top: 15vw;
}

.mt-16 {
  margin-top: 16vw;
}

.mt-17 {
  margin-top: 17vw;
}

.mt-18 {
  margin-top: 18vw;
}

.mt-19 {
  margin-top: 19vw;
}

.mt-20 {
  margin-top: 20vw;
}

.mb-6 {
  margin-bottom: 6vw;
}
.mb-7 {
  margin-bottom: 7vw;
}
.mb-8 {
  margin-bottom: 8vw;
}
.mb-9 {
  margin-bottom: 9vw;
}
.mb-10 {
  margin-bottom: 10vw;
}
.mb-11 {
  margin-bottom: 11vw;
}
.mb-12 {
  margin-bottom: 12vw;
}
.mb-13 {
  margin-bottom: 13vw;
}
.mb-14 {
  margin-bottom: 14vw;
}

.mb-15 {
  margin-bottom: 15vw;
}

.mb-16 {
  margin-bottom: 16vw;
}

.mb-17 {
  margin-bottom: 17vw;
}

.mb-18 {
  margin-bottom: 18vw;
}

.mb-19 {
  margin-bottom: 19vw;
}

.mb-20 {
  margin-bottom: 20vw;
}

.ml-6 {
  margin-left: 6vw;
}
.ml-7 {
  margin-left: 7vw;
}
.ml-8 {
  margin-left: 8vw;
}
.ml-9 {
  margin-left: 9vw;
}
.ml-10 {
  margin-left: 10vw;
}
.ml-11 {
  margin-left: 11vw;
}
.ml-12 {
  margin-left: 12vw;
}
.ml-13 {
  margin-left: 13vw;
}
.ml-14 {
  margin-left: 14vw;
}

.ml-15 {
  margin-left: 15vw;
}

.ml-16 {
  margin-left: 16vw;
}

.ml-17 {
  margin-left: 17vw;
}

.ml-18 {
  margin-left: 18vw;
}

.ml-19 {
  margin-left: 19vw;
}

.ml-20 {
  margin-bottom: 20vw;
}

@media screen and (min-width: 992px) {
  .mt-lg-6 {
    margin-top: 6vw !important;
  }
  .mt-lg-7 {
    margin-top: 7vw !important;
  }
  .mt-lg-8 {
    margin-top: 8vw !important;
  }
  .mt-lg-9 {
    margin-top: 9vw !important;
  }
  .mt-lg-10 {
    margin-top: 10vw !important;
  }
  .mt-lg-11 {
    margin-top: 11vw !important;
  }
  .mt-lg-12 {
    margin-top: 12vw !important;
  }
  .mt-lg-13 {
    margin-top: 13vw !important;
  }
  .mt-lg-14 {
    margin-top: 14vw !important;
  }

  .mt-lg-15 {
    margin-top: 15vw !important;
  }

  .mt-lg-16 {
    margin-top: 16vw !important;
  }

  .mt-lg-17 {
    margin-top: 17vw !important;
  }

  .mt-lg-18 {
    margin-top: 18vw !important;
  }

  .mt-lg-19 {
    margin-top: 19vw !important;
  }

  .mt-lg-20 {
    margin-top: 20vw !important;
  }

  .mx-lg-6 {
    margin-left: 6vw !important;
    margin-right: 6vw !important;
  }
  .mx-lg-7 {
    margin-left: 7vw !important;
    margin-right: 7vw !important;
  }
  .mx-lg-8 {
    margin-left: 8vw !important;
    margin-right: 8vw !important;
  }
  .mx-lg-9 {
    margin-left: 9vw !important;
    margin-right: 9vw !important;
  }
  .mx-lg-10 {
    margin-left: 10vw !important;
    margin-right: 10vw !important;
  }
  .mx-lg-11 {
    margin-left: 11vw !important;
    margin-right: 11vw !important;
  }
  .mx-lg-12 {
    margin-left: 12vw !important;
    margin-right: 12vw !important;
  }
  .mx-lg-13 {
    margin-left: 13vw !important;
    margin-right: 13vw !important;
  }
  .mx-lg-14 {
    margin-left: 14vw !important;
    margin-right: 14vw !important;
  }

  .mx-lg-15 {
    margin-left: 15vw !important;
    margin-right: 15vw !important;
  }

  .mx-lg-16 {
    margin-left: 16vw !important;
    margin-right: 16vw !important;
  }

  .mx-lg-17 {
    margin-left: 17vw !important;
    margin-right: 17vw !important;
  }

  .mx-lg-18 {
    margin-left: 18vw !important;
    margin-right: 18vw !important;
  }

  .mx-lg-19 {
    margin-left: 19vw !important;
    margin-right: 19vw !important;
  }

  .mx-lg-20 {
    margin-left: 20vw !important;
    margin-right: 20vw !important;
  }

  .py-lg-6 {
    padding-top: 6vw !important;
    padding-bottom: 6vw !important;
  }
  .py-lg-7 {
    padding-top: 7vw !important;
    padding-bottom: 7vw !important;
  }
  .py-lg-8 {
    padding-top: 8vw !important;
    padding-bottom: 8vw !important;
  }
  .py-lg-9 {
    padding-top: 9vw !important;
    padding-bottom: 9vw !important;
  }
  .py-lg-10 {
    padding-top: 10vw !important;
    padding-bottom: 10vw !important;
  }
  .py-lg-11 {
    padding-top: 11vw !important;
    padding-bottom: 11vw !important;
  }
  .py-lg-12 {
    padding-top: 12vw !important;
    padding-bottom: 12vw !important;
  }
  .py-lg-13 {
    padding-top: 13vw !important;
    padding-bottom: 13vw !important;
  }
  .py-lg-14 {
    padding-top: 14vw !important;
    padding-bottom: 14vw !important;
  }

  .py-lg-15 {
    padding-top: 15vw !important;
    padding-bottom: 15vw !important;
  }

  .py-lg-16 {
    padding-top: 16vw !important;
    padding-bottom: 16vw !important;
  }

  .py-lg-17 {
    padding-top: 17vw !important;
    padding-bottom: 17vw !important;
  }

  .py-lg-18 {
    padding-top: 18vw !important;
    padding-bottom: 18vw !important;
  }

  .py-lg-19 {
    padding-top: 19vw !important;
    padding-bottom: 19vw !important;
  }

  .py-lg-20 {
    padding-top: 20vw !important;
    padding-bottom: 20vw !important;
  }

  .pr-lg-6 {
    padding-right: 6vw !important;
  }
  .pr-lg-7 {
    padding-right: 7vw !important;
  }
  .pr-lg-8 {
    padding-right: 8vw !important;
  }
  .pr-lg-9 {
    padding-right: 9vw !important;
  }
  .pr-lg-10 {
    padding-right: 10vw !important;
  }
  .pr-lg-11 {
    padding-right: 11vw !important;
  }
  .pr-lg-12 {
    padding-right: 12vw !important;
  }
  .pr-lg-13 {
    padding-right: 13vw !important;
  }
  .pr-lg-14 {
    padding-right: 14vw !important;
  }

  .pr-lg-15 {
    padding-right: 15vw !important;
  }

  .pr-lg-16 {
    padding-right: 16vw !important;
  }

  .pr-lg-17 {
    padding-right: 17vw !important;
  }

  .pr-lg-18 {
    padding-right: 18vw !important;
  }

  .pr-lg-19 {
    padding-right: 19vw !important;
  }

  .pr-lg-20 {
    padding-right: 20vw !important;
  }
}
